<h2> <%= article.title %> </h2>

<div>
    Content: <%= article.content %>
</div>

<div>
    Is Published: <%= article.isPublished %>
</div>

<div>
    Total Words: <%= article.totalWords %>
</div>

<% article.author.forEach(function(author) { %>
    <hr>
    <div>
        <div>Author: <%= author.name %> </div>
        <div> Email Address: <%= author.emailAddress %> </div>
        <div> Phone Number: <%= author.phoneNumber %> </div>
    </div>

<% }) %>
<hr>
<div>
    Created At: <%= moment(article.createdAt).fromNow() %>
</div>