<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Bar</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <hr>

    <% if(alerts.validationErrors) { %>
        <% alerts.validationErrors.forEach(function(msg) { %>
            <div class="alert alert-success"> 
                Your <%= msg.param %> is <%= msg.msg %> </div>
        <% }) %>
    <% } %>

    <% if(alerts.success) { %>
        <% alerts.success.forEach(function(msg) { %>
            <div class="alert alert-success"> <%= msg %> </div>
        <% }) %>
    <% } %>

    <% if(alerts.error) { %>
        <% alerts.error.forEach(function(msg) { %>
            <div class="alert alert-danger"> <%= msg %> </div>
        <% }) %>
    <% } %>

    <nav>
        <div class="nav">
<!-- 
        <a href="/article/index"> Article</a>
        <a href="/article/add"> Add Article</a>

        <a href="/author/index"> Author</a>
        <a href="/author/add"> Add Author</a> -->

        </div>


        <div class="menuAlignment">

        <!-- <% if(currentUser) { %>
            Hi, <%= currentUser.firstName %> <%= currentUser.lastName %> 
            <a href="/auth/logout"> LogOut</a>
        <% } else { %>
            <a href="/auth/signin"> Log In</a>
            <a href="/auth/signup"> Sign Up</a>
        <% } %> -->
        
        </div>

    </nav>

    <%- body %>

    <br>
    <br>
    <hr>
    <br>
    

    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>

    <script src="../js/main.js"></script>

</body>
</html>